form {
    width: 100%;
    margin-block-start: 1rem;
    max-width: 66ch;
}

fieldset {
    border: none;
    padding: 0;
    margin: 0;
}

label {
    display: block;
    font-weight: bold;
    margin-block-end: .25rem;
}

input {
    display: block;
    padding: .5rem;
    width: 100%;
    min-height: 64px;
}

input + label {
    margin-block-start: 1rem;
}


input + button {
    margin-block-start: 1.5rem;
}


button[type="submit"] {
    background-color:hsl(174, 72%, 56%);
    border-color: hsl(174, 72%, 46%);
    border-style: solid;
    padding: .5rem 1rem;

    &:hover {
        background-color:hsl(174, 72%, 46%);
    } 
    
    &:focus {
        border-color:hsl(174, 72%, 66%);
        outline-color:hsl(174, 72%, 36%);
    }
}