<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }} - Jay Allen</title>
    <link rel="stylesheet" href="/assets/styles/main.css">
    
    {% set css %}
    {% include "styles/main.css" %}
    {% endset %}
    <style>
    {{ css | cssmin | safe }}
    </style>
    

</head>
<body>

    <!-- <header>
        <div class="container">
            <nav class="c-nav-main">
                <ul>
                    <li><a href="#"></a></li>
                </ul>
            </nav>
        </div>
    </header> -->

    <main>
        {{ content | safe }}
    </main>
    
</body>
</html>