<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    
    {% set css %}
    {% include "styles/main.css" %}
    {% endset %}
    <style>
    {{ css | cssmin | safe }}
    </style>
    
    <link rel="manifest" href="/manifest.json">

</head>
<body>

    <header class="o-wrapper o-split">
        <h1>Secret Todo</h1>
    </header>

    <main>
        {{ content | safe }}
    </main>


</body>
</html>