---
title: Secret Todo
layout: layouts/base.njk
---
<div class=" c-todo">
    <form class="c-todo-add">
        <div class="o-wrapper c-input-group">
            <input id="task" type="text" placeholder="Add a task" aria-label="Add task">
            <button type="submit">&#43; Add</button>
        </div>
    </form>
    <div class="o-wrapper c-todo-list" aria-live="assertive">
        <ul class="[ c-list ] [ u-hidden ] [ js-list ]"></ul>
    </div>
</div>
<script src="/assets/js/index.js"></script>