---
title: Final Project
layout: layouts/base.njk
---

<div class="o-wrapper c-todo">

    <div class="o-split">
        <h1>Final Project</h1>
    </div>

    <form>

        <label for="task">Task</label>
        <div class="c-input-group">
            <input id="task" type="text">
            <button type="submit">Add</button>
        </div>

    </form>

    <div aria-live="assertive">
        <ul class="[ c-list ] [ u-hidden ] [ js-list ]"></ul>
    </div>

</div>

<script src="/assets/js/index.js"></script>