---
title: Week 5 - Jay Allen
---
<html>

<head>
    <title>Week 5 - Jay Allen</title>
    <style>
        .button {
            background-color: #cccccc;
            /* Grey */
            border: none;
            color: white;
            padding: 15px 32px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
            margin: 4px 2px;
            cursor: pointer;
        }

        .button_over {
            background-color: #0000cc;
            /* Grey */
            border: none;
            color: white;
            padding: 15px 32px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
            margin: 4px 2px;
            cursor: pointer;
        }
    </style>
</head>

<body>

    <h2>Button Colors</h2>

    <p>You'll need to string together this week and last week to make this work. (Hint: Make sure you put your javascript in script tags. And use id's. And
        think how a page loads.)</p>
    <p>Example buttons with CSS:</p>

    <button class="button">Item 1</button>
    <button class="button">Item 2</button>
    <button class="button">Item 3</button>
    <button class="button">Item 4</button>
    <button class="button">Item 5</button>

    <p>To change the CSS style class of an HTML element, use:
    <pre>element.className="classname"</pre>


<script>
const buttons = document.querySelectorAll('.button');

// Loop through each button and assign listener
buttons.forEach(button => {
    // https://developer.mozilla.org/en-US/docs/Web/Events
    button.addEventListener('mouseenter', buttonHoverAdd);
    button.addEventListener('mouseleave', buttonHoverRemove);
});

function buttonHoverAdd(event) {
    event.target.classList.add('button_over');
}

function buttonHoverRemove(event) {
    event.target.classList.remove('button_over');
}
</script>
</body>
</html>